body {
      font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-image: url('images/nortago.jpg');
}
#ModelContainer {
    position: absolute;
    width: 800px;
    height: 1000px; 
}

.round-corner-div {
    position: absolute;
    border: #4d5555 2px solid;
    background-origin: border-box;
    border-radius: 5px 5px 5px 5px;
    width: 110px;
    height: 155px;
    top: 0px;
    left: 0px;
    text-align:left;
    vertical-align: bottom;
    color: white;
    font-size: 20pt;   
    padding-top: 2px; 
    background-color: #333333;
    display: inline;
    box-shadow:  0 1px 3px rgba(0,0,0,0.5);
}

input[type='text'], input[type='email'], input[type='search'],
input[type='password'], textarea
{
        -webkit-user-select: text; 
}
