
    <div class="dialog-content">
            <div id="dialog-message">
                <!-- Template Kram kommt hier rein .... -->
 <h1>Passwort zurücksetzen.</h1>
            <h2>Um das Passwort zurücksetzen zu können gebe bitte deine Emailadresse an. In einer Email erhältst du dann einen link zum Zurücksetzen des Passworts.</h2>
            <fieldset>
                <table>
                    <tr>
                        <td>Email Adresse</td>
                        <td><input type="email" size="25" maxlength="40" name="email" id="txtForgotEmail"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><div id="ferrorMessage">Email konnte nicht zugesandt werden.</div></td>
                    </tr>
                    <tr>
                        <td colspan="2"> <a href="#" class="button" id="sendEmail" style="width:100px">Senden</a></td>
                    </tr>
                </table>
            </fieldset>
                         </div>
            <table border="0">
                <tr>
                    <td align="center" width="770px">
                        
                        <!-- Buttons kommen hier rein .... -->
                        <div id="buttonFooter">
                            <a href="#" class="button" onmouseup="$('#dialog-overlay, #dialog-box').remove()">Schließen</a>
                        </div>
                        <!-- Buttons kommen hier ^^ rein .... -->
                    </td>
                </tr>
            </table>
        </div>