 <h1>Passwort zurücksetzen.</h1>
            <h2>Um das Passwort zurücksetzen zu können gebe bitte deine Emailadresse an. In einer Email erhältst du dann einen link zum Zurücksetzen des Passworts.</h2>
            <fieldset>
                <table>
                    <tr>
                        <td>Email Adresse</td>
                        <td><input type="email" size="25" maxlength="40" name="email" id="txtEmail"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><div id="errorMessage">Email konnte nicht zugesandt werden.</div></td>
                    </tr>
                </table>
            </fieldset>
    <a href="#" class="button" id="sendEmail" style="width:100px">Senden</a>
   