<style>
    #genreList {
        width: 300px;
    }
    #dialog-message {
        text-align: left;
        background-color: #26cd2d;
    }
    #dialog-box {
        background-color: #26cd2d;
        width: 500px;
    }
    #listContainer {
        width: 500px;
        text-align: center; 
    }
    #friendsList {
        width: 350px;
    }
</style>

    <div class="dialog-content">
            <div id="dialog-message">
                <!-- Template Kram kommt hier rein .... -->

<h1>Freunde.</h1>
<h2>Um die Filme aller Freunde zu sehen, klicke auf ihre Namen in der Liste.</h2>

<div id="listContainer">
<select value="${FriendId}" id="friendsList" size="18">
    {{tmpl(friends) "#detailsTemplate"}}                            
</select>  
    
</div>

<script id="detailsTemplate" type="text/x-jquery-tmpl">
    <option value="${ID}">${Username}</option>
</script>

<script type="text/javascript">
    document.getElementById("friendsList").onchange = function (e) {
        m.loadMoviesOfaFriend(this.value);
        $('#dialog-overlay, #dialog-box').hide();
        $('#dialog-overlay, #dialog-box').remove();
    };
</script>    
                
                         </div>
            <table border="0">
                <tr>
                    <td align="center" width="770px">
                        
                        <!-- Buttons kommen hier rein .... -->
                        <div id="buttonFooter">
                            <a href="#" class="button" onmouseup="$('#dialog-overlay, #dialog-box').remove()">Schließen</a>
                        </div>
                        <!-- Buttons kommen hier ^^ rein .... -->
                    </td>
                </tr>
            </table>
        </div>
