<style>
    #friendsList {
        width: 370px;
    }
</style>

    <div class="dialog-content">
            <div id="dialog-message">
                <!-- Template Kram kommt hier rein .... -->

<h1>Verliehen.</h1>
<h2>Um diesen Film als verliehen an einen deiner Freunde zu markieren, klicke auf den Namen deines Freundes in der Liste.</h2>

<div id="listContainer">
    <table border="0">
        <tr>
            <td>
                <select value="${FriendId}" id="friendsList" size="15">
                    {{tmpl(friends) "#detailsTemplate"}}                            
                </select>  
            </td>        
           </tr>    
           <tr>
                        <td><div id="ferrorMessage"></div></td>
                    </tr>
    </table>

</div>


<script id="lentToTemplate" type="text/x-jquery-tmpl">
    <option value="${ID}">${Username}</option>
</script>

<script type="text/javascript">
    document.getElementById("friendsList").onchange = function (e) {
        dlg.lentTo(this.value);
    };
</script>    
                         </div>
            <table border="0">
                <tr>
                    <td align="center" width="770px">
                        
                        <!-- Buttons kommen hier rein .... -->
                        <div id="buttonFooter">
                            <a href="#" class="button" onmouseup="$('#dialog-overlay, #dialog-box').remove()">Schließen</a>
                        </div>
                        <!-- Buttons kommen hier ^^ rein .... -->
                    </td>
                </tr>
            </table>
        </div>