 <h1>Anmelden.</h1>
            <h2>Einige Funktionen, wie das Hinzufügen oder Leihen von Filmen, erfordern eine Anmeldung.</h2>
<fieldset>
    <table>
        <tr>
            <td>Benutzername</td>
            <td><input type="text" size="25" maxlength="40" name="username" id="txtUsername"></td>
        </tr>
        <tr>
            <td>Passwort</td>
            <td><input type="password" size="25" maxlength="40" name="password" id="txtPassword"></td>
        </tr>
        <tr>
            <td colspan="2"><div id="errorMessage">Entweder Benutzername oder Passwort falsch.</div></td>
        </tr>
    </table>
</fieldset>

<table border="0">
    <td valign="top"><a href="#" class="button" id="loginButton" style="width:100px">Anmelden</a></td>
    <td valign="top"><a href="#" class="button" id="forgotPassword" style="width:100px">Passwort vergessen</a></td>
    <td valign="top"><a href="#" class="button" id="registerNew" style="width:100px">Neu registrieren</a></td>
</table>
