<style>
    h1 { margin-left: 0px;}
    a.actor {
        font-size: 12pt;
        color: #f0f0f0;
        text-decoration:none;
    }


    #details {
        display: block; 
    }

    #ratings {
        display: none;
    }

    a.actor:hover, a.actor:visited {
        color: #cacaca;
    } 

    #ratingstars {
        float: left; 
        width:250px;     
    }
   
    #comments {
        float: none; 
    }

</style>

<script id="detailsTemplate" type="text/x-jquery-tmpl">
    <div id="detailsContainer">
        <div id="largeThumb">
            <img src="${CoverUrlMediaManager}&size=large" height="470" width="330" alt="${Title}"/>
        </div>
        <div id="details">
            <h1>${Title}</h1>
            <p><b>mit </b>
                <a href="#" class="actor" onmouseup="m.loadMoviesByActor(${Actor1ID});$('#dialog-overlay, #dialog-box').remove();">${Actor1Name}</a>, 
                <a href="#" class="actor"  onmouseup="m.loadMoviesByActor(${Actor2ID});$('#dialog-overlay, #dialog-box').remove();">${Actor2Name}</a>, 
                <a href="#" class="actor"  onmouseup="m.loadMoviesByActor(${Actor3ID});$('#dialog-overlay, #dialog-box').remove();">${Actor3Name}</a>
                <br />
                <b>Regie</b> ${DirectorName}<br/>
                <b>Published</b> ${PublishDate}<br/>
                <b>Eigentümer</b> ${OwnerName}
                <b>Verliehen an</b> ${BorrowedByName}</p>
            <br />
            <p>${Description}</p>
        </div>
        <div id="ratings">
            <h1>Bewertung und Kommentare</h1>
            <table>
                <tr>
                    <td>${RatingsCount} Bewertung(en)</td>
                    <td><div id='ratingstars'>
                            {{html AggregatedStars}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{html Comments}}
                    </td>
                </tr>
            </table>
        </div>
        <div id="controls">
            <table border="0">
                <tr>
                    <td><a href="#" class="button" onmouseup="m.showLentTo();" style="width:100px" id="btnLentTo">Verliehen an</a></td>
                    <td><a href="#" class="button" onmouseup="m.returnMovie()" style="width:100px">Zurück erhalten</a></td>
                    <td><a href="#" class="button" onmouseup="m.borrowMovie();" style="width:100px">Ausleihen</a></td>
                    <td><a href="#" class="button" onmouseup="m.toggleDetailsView();" style="width:25px">&gt;&gt;</a></td>
                </tr>
            </table>
        </div>       
    </div>
</script>
