<style>
    h1 { margin-left: 0px;}
 
       #ratingstars {
        float: left; 
        width:250px;     
    }
   
    #comments {
        float: none; 
    }

</style>

   <div id="ratings">
            <h1>Bewertung und Kommentare</h1>
            <table>
                <tr>
                    <td>${RatingsCount} Bewertung(en)</td>
                    <td><div id='ratingstars'>
                            {{html AggregatedStars}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{html Comments}}
                    </td>
                </tr>
            </table>
       </div>       