<div id="trailer">
    
    http://api.traileraddict.com/?imdb=0098635&count=4&width=680

    <trailers>
    <trailer>
        <title>When Harry Met Sally...: Trailer</title>
<link>
http://www.traileraddict.com/trailer/when-harry-met-sally/trailer
</link>
<pubDate>Fri, 10 Jun 2011 22:24:24 -0700</pubDate>
<trailer_id>41146</trailer_id>
<imdb>0098635</imdb>
<embed>
<![CDATA[
<object width="680" height="560"><param name="movie" value="http://www.traileraddict.com/emd/41146"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="transparent"></param><param name="allowfullscreen" value="true"></param><embed src="http://www.traileraddict.com/emd/41146" type="application/x-shockwave-flash" wmode="transparent" allowfullscreen="true" allowscriptaccess="always" width="680" height="560"></embed></object>
]]>
</embed>
</trailer>
</trailers>

</div>